.wrapper_p {
    display: grid;
	position: relative;
	background-color: #ffffff; /* Фоновый цвет*/
	border-radius: 10px; /* Радиус границ*/
	box-shadow: 0 0 15px #A9A9A9; /* Размер и цвет тени блока*/
	}

	.box_p {
		border-radius: 10px;
		padding: 4px;
	}
	.back_p {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.profile_name_p {
		font-size: 300%;
		font-weight: bold;
		text-align: center
		grid-column: 5 / 8;
		grid-row: 1 / 2;
	}
	.avatar_p {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.tabs_grid_p {
		grid-column: 3 / 5;
		grid-row: 2 / 3;
		width: 100%
	}